form {
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 5px;
  }
}

.containerx {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-left: 10px solid black;
}
p {
  margin: 5px;
}
